<h1>Sign Up Form</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <%# Could use an unput tag with ttype submit, but as long as the button
  tag is at the end of the form, clicking it will submit the form! %>
  <button>Submit</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>